In [53]:
                                    # ==========================================================
                                    # ðŸ The Legend of Python - Day 11 Solutions
                                    # Functional Programming (map, filter, reduce) + Date Problems
                                    # ==========================================================

In [52]:
from functools import reduce
import math
from datetime import datetime

In [50]:
# ----------------------------------------------------------
# Q1) Given a list of strings, concatenate them using reduce.
# Example:
# concat_strings(["Hello", "World", "Python"]) -> "HelloWorldPython"
# ----------------------------------------------------------
def concat_strings(strings: list) -> str:
    return reduce(lambda x, y: x + y, strings)

print("Concatenation:", concat_strings(["Hello", "World", "Python"]))

Concatenation: HelloWorldPython

In [51]:
# ----------------------------------------------------------
# Q2) Given a list of numbers, use filter to get even and odd numbers.
# Example:
# filter_even([1,2,3,4]) -> [2,4]
# filter_odd([1,2,3,4]) -> [1,3]
# ----------------------------------------------------------
def filter_even(nums: list) -> list:
    return list(filter(lambda x: x % 2 == 0, nums))

def filter_odd(nums: list) -> list:
    return list(filter(lambda x: x % 2 != 0, nums))

print("Even numbers:", filter_even([1,2,3,4,5,6]))
print("Odd numbers:", filter_odd([1,2,3,4,5,6]))

Even numbers: [2, 4, 6]
Odd numbers: [1, 3, 5]

In [49]:
# ----------------------------------------------------------
# Q3) Given a list of strings, filter uppercase and lowercase strings.
# Example:
# filter_upper(["Hi", "hello", "WORLD"]) -> ['Hi','WORLD']
# filter_lower(["Hi", "hello", "WORLD"]) -> ['hello']
# ----------------------------------------------------------
def filter_upper(strings: list) -> list:
    return list(filter(lambda s: s.isupper() or (s[0].isupper() and s[1:].islower()), strings))

def filter_lower(strings: list) -> list:
    return list(filter(lambda s: s.islower(), strings))

print("Uppercase strings:", filter_upper(["Hi", "hello", "WORLD"]))
print("Lowercase strings:", filter_lower(["Hi", "hello", "WORLD"]))

Uppercase strings: ['Hi', 'WORLD']
Lowercase strings: ['hello']

In [47]:
# ----------------------------------------------------------
# Q4) Filter alphabet strings, numerical strings, and alphanumerical strings.
# Example:
# filter_alpha(["abc","123","abc123"]) -> ['abc']
# filter_numeric(["abc","123","abc123"]) -> ['123']
# filter_alnum(["abc","123","abc123"]) -> ['abc123']
# ----------------------------------------------------------
def filter_alpha(strings: list) -> list:
    return list(filter(lambda s: s.isalpha(), strings))

def filter_numeric(strings: list) -> list:
    return list(filter(lambda s: s.isdigit(), strings))

def filter_alnum(strings: list) -> list:
    return list(filter(lambda s: s.isalnum() and not (s.isalpha() or s.isdigit()), strings))

print("Alphabet strings:", filter_alpha(["abc","123","abc123"]))
print("Numeric strings:", filter_numeric(["abc","123","abc123"]))
print("Alphanumeric strings:", filter_alnum(["abc","123","abc123"]))

Alphabet strings: ['abc']
Numeric strings: ['123']
Alphanumeric strings: ['abc123']

In [48]:
# ----------------------------------------------------------
# Q5) Given 2 lists, use map to multiply their elements.
# Example:
# product_lists([1,2,3], [4,5,6]) -> [4,10,18]
# ----------------------------------------------------------
def product_lists(lst1: list, lst2: list) -> list:
    return list(map(lambda x, y: x * y, lst1, lst2))

print("Product of lists:", product_lists([1,2,3], [4,5,6]))

Product of lists: [4, 10, 18]

In [46]:
# ----------------------------------------------------------
# Q6) Capitalize all names in a list using map.
# Example:
# capitalize_names(['alice','bob']) -> ['Alice','Bob']
# ----------------------------------------------------------
def capitalize_names(names: list) -> list:
    return list(map(lambda name: name.capitalize(), names))

print("Capitalized names:", capitalize_names(['alice', 'bob', 'charlie']))

Capitalized names: ['Alice', 'Bob', 'Charlie']

In [45]:
# ----------------------------------------------------------
# Q7) Convert Celsius to Fahrenheit using map.
# Formula: F = C * 9/5 + 32
# Example:
# celsius_to_fahrenheit([0,10,20]) -> [32,50,68]
# ----------------------------------------------------------
def celsius_to_fahrenheit(celsius_list: list) -> list:
    return list(map(lambda c: c * 9/5 + 32, celsius_list))

print("Celsius to Fahrenheit:", celsius_to_fahrenheit([0,10,20,30]))

Celsius to Fahrenheit: [32.0, 50.0, 68.0, 86.0]

In [44]:
# ----------------------------------------------------------
# Q8) Sum of squares of even numbers using filter, map, reduce.
# Example:
# sum_even_squares([1,2,3,4]) -> 20
# ----------------------------------------------------------
def sum_even_squares(nums: list) -> int:
    evens = filter(lambda x: x % 2 == 0, nums)
    squares = map(lambda x: x**2, evens)
    return reduce(lambda x, y: x + y, squares)

print("Sum of even squares:", sum_even_squares([1,2,3,4,5,6,7,8]))

Sum of even squares: 120

In [43]:
# ----------------------------------------------------------
# Q9) Filter names starting with 'S' and count them using reduce.
# Example:
# count_s_names(['Sam','Ella','Sally','Alex']) -> 2
# ----------------------------------------------------------
def count_s_names(names: list) -> int:
    s_names = filter(lambda n: n.startswith('S'), names)
    return reduce(lambda x, _: x + 1, s_names, 0)

print("Count S names:", count_s_names(['Sam','Ella','Sally','Alex']))

Count S names: 2

In [42]:
# ----------------------------------------------------------
# Q10) Normalize numbers to range [0,1] using map.
# Formula: (x - min) / (max - min)
# Example:
# normalize([10,20,30,40,50]) -> [0.0,0.25,0.5,0.75,1.0]
# ----------------------------------------------------------
def normalize(nums: list) -> list:
    mn, mx = min(nums), max(nums)
    return list(map(lambda x: (x - mn) / (mx - mn), nums))

print("Normalized list:", normalize([10,20,30,40,50]))

Normalized list: [0.0, 0.25, 0.5, 0.75, 1.0]

In [41]:
# ----------------------------------------------------------
# Q11) Maximum difference between consecutive numbers.
# Example:
# max_diff([5,10,1,20,15]) -> 19
# ----------------------------------------------------------
def max_diff(nums: list) -> int:
    diffs = list(map(lambda x, y: abs(y - x), nums[:-1], nums[1:]))
    return reduce(lambda a, b: a if a > b else b, diffs)

print("Max consecutive diff:", max_diff([5,10,1,20,15]))

Max consecutive diff: 19

In [40]:
# ----------------------------------------------------------
# Q12) Sum of unique squares of even numbers.
# Example:
# unique_even_square_sum([1,2,2,3,4,4,5,6]) -> 56
# (Squares: 4,16,36 -> sum=56)
# ----------------------------------------------------------
def unique_even_square_sum(nums: list) -> int:
    evens = filter(lambda x: x % 2 == 0, nums)
    squares = map(lambda x: x**2, evens)
    unique_squares = set(squares)
    return reduce(lambda x, y: x + y, unique_squares)

print("Unique even square sum:", unique_even_square_sum([1,2,2,3,4,4,5,6]))

Unique even square sum: 56

In [39]:
# ----------------------------------------------------------
# Q13) Use map to convert strings to their lengths and reduce to max.
# Example:
# max_string_length(["hello","world","python"]) -> 8
# ----------------------------------------------------------
def max_string_length(strings: list) -> int:
    lengths = map(len, strings)
    return reduce(lambda a, b: a if a > b else b, lengths)

print("Max string length:", max_string_length(["hello","world","python","excellent"]))

Max string length: 9

In [37]:
# ----------------------------------------------------------
# Q14) Calculate Age from birthdate.
# Example:
# calculate_age("2000-05-15") -> 25 (in 2025)
# ----------------------------------------------------------
def calculate_age(birthdate: str) -> int:
    birth = datetime.strptime(birthdate, "%Y-%m-%d")
    today = datetime.today()
    return today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))

print("Age:", calculate_age("2000-05-15"))

Age: 25

In [36]:
# ----------------------------------------------------------
# Q15) Age group classification.
# Example:
# classify_age("2010-01-01") -> "Teen"
# ----------------------------------------------------------
def classify_age(birthdate: str) -> str:
    age = calculate_age(birthdate)
    if age < 13:
        return "Child"
    elif age < 20:
        return "Teen"
    elif age < 60:
        return "Adult"
    else:
        return "Senior Citizen"

print("Age group:", classify_age("2010-01-01"))

Age group: Teen

In [35]:
# ----------------------------------------------------------
# Q16) Day of the week from a given date.
# Example:
# day_of_week("2025-08-30") -> "Saturday"
# ----------------------------------------------------------
def day_of_week(date_str: str) -> str:
    date_obj = datetime.strptime(date_str, "%Y-%m-%d")
    return date_obj.strftime("%A")

print("Day of week:", day_of_week("2025-08-30"))

Day of week: Saturday

In [34]:
# ----------------------------------------------------------
# Q17) Leap year check.
# Example:
# is_leap_year(2024) -> True
# ----------------------------------------------------------
def is_leap_year(year: int) -> bool:
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

print("Leap year 2024:", is_leap_year(2024))
print("Leap year 2025:", is_leap_year(2025))

Leap year 2024: True
Leap year 2025: False