In [1]:
                                        # ==========================================================
                                        # ðŸ The Legend of Python - Day 9 Solutions
                                        # Dictionaries
                                        # ==========================================================

In [2]:
# ----------------------------------------------------------
# Q1: Student Management System
# Features:
# - Update student info
# - Remove student
# - Search by name or age
# - Display all students
# ----------------------------------------------------------
students = {
    1: {"name": "Amit", "age": 15, "grade": "9th", "subjects": ["Math", "Science"]},
    2: {"name": "Riya", "age": 14, "grade": "8th", "subjects": ["English", "History"]}
}

# Update student info
students[1]["grade"] = "10th"
students[1]["subjects"].append("Computer")

# Remove student
students.pop(2)

# Search student
search_name = "Amit"
for sid, info in students.items():
    if info["name"] == search_name or info["age"] == 15:
        print("Found:", info)

# Display all
print("All students:", students)

Found: {'name': 'Amit', 'age': 15, 'grade': '10th', 'subjects': ['Math', 'Science', 'Computer']}
All students: {1: {'name': 'Amit', 'age': 15, 'grade': '10th', 'subjects': ['Math', 'Science', 'Computer']}}

In [3]:
# ----------------------------------------------------------
# Q2: Sales data analysis
# Tuple: (product, price, quantity, date)
# ----------------------------------------------------------
sales = [
    ("Laptop", 50000, 3, "2025-08-01"),
    ("Mobile", 20000, 5, "2025-08-02"),
    ("Laptop", 50000, 2, "2025-08-03"),
    ("Headphones", 2000, 10, "2025-08-04")
]

# Total sales revenue
total = sum(price * qty for _, price, qty, _ in sales)
print("Total revenue:", total)

# Best-selling product
from collections import Counter
product_counter = Counter()
for product, price, qty, date in sales:
    product_counter[product] += qty
print("Best-selling product:", product_counter.most_common(1)[0][0])

# Unique products
print("Unique products:", set(p for p, _, _, _ in sales))

# Average price
avg_price = sum(price for _, price, _, _ in sales) / len(sales)
print("Average price:", avg_price)

Total revenue: 370000
Best-selling product: Headphones
Unique products: {'Mobile', 'Laptop', 'Headphones'}
Average price: 30500.0

In [4]:
# ----------------------------------------------------------
# Q3: Book information
# ----------------------------------------------------------
book_info = [
    {"title": "Python Basics", "author": "Guido", "publication_year": 2015, "ratings": [4, 5, 5]},
    {"title": "AI Future", "author": "Sam", "publication_year": 2009, "ratings": [3, 4, 4]},
    {"title": "ML Mastery", "author": "Tom", "publication_year": 2021, "ratings": [5, 5, 4]}
]

# Titles after 2010
print("Books after 2010:", [b["title"] for b in book_info if b["publication_year"] > 2010])

# Add a new book
book_info.append({"title": "Data Science", "author": "Anna", "publication_year": 2022, "ratings": [5, 4, 5]})

# Insert multiple books
book_info.insert(1, {"title": "Deep Learning", "author": "Ian", "publication_year": 2017, "ratings": [4, 4, 5]})

# Books with ratings > threshold
threshold = 4
for b in book_info:
    if sum(b["ratings"]) / len(b["ratings"]) > threshold:
        print("High-rated:", b)

# Average rating of books in a year
year = 2021
ratings = [sum(b["ratings"]) / len(b["ratings"]) for b in book_info if b["publication_year"] == year]
if ratings:
    print("Average rating in", year, ":", sum(ratings) / len(ratings))

Books after 2010: ['Python Basics', 'ML Mastery']
High-rated: {'title': 'Python Basics', 'author': 'Guido', 'publication_year': 2015, 'ratings': [4, 5, 5]}
High-rated: {'title': 'Deep Learning', 'author': 'Ian', 'publication_year': 2017, 'ratings': [4, 4, 5]}
High-rated: {'title': 'ML Mastery', 'author': 'Tom', 'publication_year': 2021, 'ratings': [5, 5, 4]}
High-rated: {'title': 'Data Science', 'author': 'Anna', 'publication_year': 2022, 'ratings': [5, 4, 5]}
Average rating in 2021 : 4.666666666666667

In [5]:
# ----------------------------------------------------------
# Q4: Phone Book (nested dictionary)
# ----------------------------------------------------------
phone_book = {
    "Delhi": {
        "Amit": {"phone": "12345", "address": "Street 1"},
        "Riya": {"phone": "67890", "address": "Street 2"}
    }
}

# Add contact
phone_book["Delhi"]["Neha"] = {"phone": "55555", "address": "Street 3"}

# Update number
phone_book["Delhi"]["Amit"]["phone"] = "99999"

# Delete contact
phone_book["Delhi"].pop("Riya")

# Search contact
name = "Neha"
for city, contacts in phone_book.items():
    if name in contacts:
        print("Found contact:", contacts[name])

# Print phone book for a city
print("Phone book Delhi:", phone_book["Delhi"])

Found contact: {'phone': '55555', 'address': 'Street 3'}
Phone book Delhi: {'Amit': {'phone': '99999', 'address': 'Street 1'}, 'Neha': {'phone': '55555', 'address': 'Street 3'}}

In [6]:
# ----------------------------------------------------------
# Q5: Employee data dictionary operations
# ----------------------------------------------------------
employee_data = {
    "E001": {"name": "John", "department": "HR", "salary": 40000},
    "E002": {"name": "Sara", "department": "IT", "salary": 60000},
}

# keys()
print("Employee IDs:", employee_data.keys())

# values()
print("Employee details:", employee_data.values())

# items()
print("All data:", employee_data.items())

# get()
print("Department of E002:", employee_data.get("E002")["department"])

# update()
employee_data["E001"]["salary"] = 45000

# pop()
employee_data.pop("E002")

# clear()
employee_data.clear()
print("Employee data after clear:", employee_data)

Employee IDs: dict_keys(['E001', 'E002'])
Employee details: dict_values([{'name': 'John', 'department': 'HR', 'salary': 40000}, {'name': 'Sara', 'department': 'IT', 'salary': 60000}])
All data: dict_items([('E001', {'name': 'John', 'department': 'HR', 'salary': 40000}), ('E002', {'name': 'Sara', 'department': 'IT', 'salary': 60000})])
Department of E002: IT
Employee data after clear: {}