In [2]:
                                        # ==========================================================
                                        # 🐍 The Legend of Python - Day 1 Solutions
                                        # Each question has its task description as comments
                                        # ==========================================================

In [2]:
# ----------------------------------------------------------
# Q1: Convert float area to integer
# Task: Madhu got garden area in float, convert to int.
# Example Input: 4569.65
# Example Output: 4569
# ----------------------------------------------------------
area = float(input("Enter area in float: "))
print(int(area))

Enter area in float:  4569.65

4569

In [3]:
# ----------------------------------------------------------
# Q2: Mango distribution
# Task: Grandma has N mangoes, X grandchildren.
# Find how many each gets and how many remain.
# Example Input:
# 13
# 5
# Example Output:
# 2
# 3
# ----------------------------------------------------------
N = int(input("Enter total number of mangoes: "))
X = int(input("Enter number of grandchildren: "))
print(N // X)   # Each grandchild gets
print(N % X)    # Remaining mangoes

Enter total number of mangoes:  13
Enter number of grandchildren:  5

2
3

In [5]:
# ----------------------------------------------------------
# Q3: Remaining area of triangle after removing circle
# Task: Find triangle area (0.5 * AC * BC) - circle area (3.14*r^2)
# Example Input:
# 8 6
# 2
# Example Output: 11.44
# ----------------------------------------------------------
AC, BC = map(float, input("Enter sides AC and BC separated by space: ").split())
r = float(input("Enter radius of circle: "))
triangle_area = 0.5 * AC * BC
circle_area = 3.14 * (r ** 2)
print(round(triangle_area - circle_area, 2))

Enter sides AC and BC separated by space:  8 6
Enter radius of circle:  2

11.44

In [6]:
# ----------------------------------------------------------
# Q4: Mother & Daughter age truth check
# Task: Mother says: "I was as old as you now, at your birth".
# That means X = 2Y
# Example Input:
# 38
# 19
# Example Output: True
# ----------------------------------------------------------
mother_age = int(input("Enter mother's age: "))
daughter_age = int(input("Enter daughter's age: "))
print(mother_age == 2 * daughter_age)

Enter mother's age:  38
Enter daughter's age:  19

True

In [7]:
# ----------------------------------------------------------
# Q5: Blood donation eligibility
# Task: Age>=18, Weight>=50, No disease=1
# Example Input 1:
# 19.5
# 52.6
# 1
# Output 1: True
# Example Input 2:
# 51.6
# 68
# 0
# Output 2: False
# ----------------------------------------------------------
age = float(input("Enter age: "))
weight = float(input("Enter weight: "))
no_disease = int(input("Enter 1 if healthy, 0 if diseased: "))
print(age >= 18 and weight >= 50 and no_disease == 1)

Enter age:  19.5
Enter weight:  52.6
Enter 1 if healthy, 0 if diseased:  1

True

In [8]:
# ----------------------------------------------------------
# Q6: Snake on the field check
# Example Input: Snake is on the field
# Output: True
# Example Input: cat is on the field
# Output: False
# ----------------------------------------------------------
sentence = input("Enter the field description: ")
print("snake" in sentence.lower())

Enter the field description:  Snake is on the field

True

In [9]:
# ----------------------------------------------------------
# Q7: Check for both black & white in colors
# Example Input: green blue white black pink
# Output: True
# Example Input: green blue black pink
# Output: False
# ----------------------------------------------------------
colors = input("Enter colors separated by space: ").lower().split()
print("black" in colors and "white" in colors)

Enter colors separated by space:  green blue white black pink

True

In [10]:
# ----------------------------------------------------------
# Q8: Personalized greeting
# Example Input:
# Vishnu
# 21
# Output: Hello Vishnu, you are 21 years old!
# ----------------------------------------------------------
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"Hello {name}, you are {age} years old!")

Enter your name:  Vishnu
Enter your age:  24

Hello Vishnu, you are 24 years old!

In [11]:
# ----------------------------------------------------------
# Q9: Student marks, total and percentage
# Example Input:
# Vishnu
# 78
# 85
# 92
# Output:
# Name: Vishnu
# Math: 78.0 Science: 85.0 English: 92.0
# Total: 255.0
# Percentage: 85.0
# ----------------------------------------------------------
student_name = input("Enter student name: ")
math = float(input("Enter Math marks: "))
science = float(input("Enter Science marks: "))
english = float(input("Enter English marks: "))
total = math + science + english
percentage = (total / 300) * 100
print("Name:", student_name)
print("Math:", math, "Science:", science, "English:", english)
print("Total:", total)
print("Percentage:", round(percentage, 2))

Enter student name:  Vishnu
Enter Math marks:  78
Enter Science marks:  85
Enter English marks:  92

Name: Vishnu
Math: 78.0 Science: 85.0 English: 92.0
Total: 255.0
Percentage: 85.0

In [12]:
# ----------------------------------------------------------
# Q10: Swap two variables using temp variable
# Example Input:
# 10
# 20
# Example Output:
# After swapping: a = 20 b = 10
# ----------------------------------------------------------
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))
temp = a
a = b
b = temp
print("After swapping: a =", a, "b =", b)

Enter value of a:  10
Enter value of b:  20

After swapping: a = 20 b = 10

In [13]:
# ----------------------------------------------------------
# Q11: Area of circle
# Formula: 3.14 * r^2
# Example Input: 5
# Example Output: 78.5
# ----------------------------------------------------------
radius = float(input("Enter radius of circle: "))
print("Area of circle:", 3.14 * (radius ** 2))

Enter radius of circle:  5

Area of circle: 78.5