In [1]:
                                        # ==========================================================
                                        # üêç The Legend of Python - Day 7 Solutions
                                        # Tuples
                                        # ==========================================================

In [2]:
# ----------------------------------------------------------
# Q1: Create a tuple, print tuple, length, and datatype
# Example Input: 1 2 3 4 5 6
# Output:
# tuple a: (1, 2, 3, 4, 5, 6)
# length of a: 6
# Data type of a: <class 'tuple'>
# ----------------------------------------------------------
a = tuple(map(int, input("Enter space-separated integers: ").split()))
print("tuple a:", a)
print("length of a:", len(a))
print("Data type of a:", type(a))

Enter space-separated integers:  1 2 3 4 5 6

tuple a: (1, 2, 3, 4, 5, 6)
length of a: 6
Data type of a: <class 'tuple'>

In [3]:
# ----------------------------------------------------------
# Q2: Create tuples from RGB input and append into lists
# Example Input:
# 149 125 173
# 210 145 188
# 254 200 216
# Output:
# [149, 210, 254]
# [173, 188, 216]
# [125, 145, 200]
# ----------------------------------------------------------
R, G, B = [], [], []
for _ in range(3):
    r, g, b = map(int, input().split())
    tup = (r, g, b)
    R.append(tup[0])
    G.append(tup[2])
    B.append(tup[1])
print(R)
print(G)
print(B)

 149 125 173
 210 145 188
 254 200 216

[149, 210, 254]
[173, 188, 216]
[125, 145, 200]

In [4]:
# ----------------------------------------------------------
# Q3: Check if "Pune" in city list and print 2nd city population
# Example Input:
# [('Mumbai', 25000000), ('Delhi', 26000000), ('Pune', 10000000)]
# Output: 26000000
# ----------------------------------------------------------
cities = [('Mumbai', 25000000), ('Delhi', 26000000),
          ('Pune', 10000000), ('Bengaluru', 9000000),
          ('Chennai', 10000000)]
if any(city[0] == "Pune" for city in cities):
    print(cities[1][1])   # population of 2nd city

26000000

In [6]:
# ----------------------------------------------------------
# Q4: Concatenate three tuples from input
# Example Input:
# 1 2 3
# 4 5
# 6 7 8 9
# Output:
# (1, 2, 3)
# (4, 5)
# (6, 7, 8, 9)
# (1, 2, 3, 4, 5, 6, 7, 8, 9)
# ----------------------------------------------------------
t1 = tuple(map(int, input().split()))
t2 = tuple(map(int, input().split()))
t3 = tuple(map(int, input().split()))
print(t1)
print(t2)
print(t3)
print(t1 + t2 + t3)

 1 2 3
 4 5
 6 7 8 9

(1, 2, 3)
(4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
# ----------------------------------------------------------
# Q5: Travel destinations tuple operations
# Example: travel_destinations = (
#   ("Paris", "France", 4.7),
#   ("Tokyo", "Japan", 4.8),
#   ("NYC", "USA", 4.5),
#   ("Rome", "Italy", 4.6),
#   ("Sydney", "Australia", 4.4)
# )
# ----------------------------------------------------------
travel_destinations = (
    ("Paris", "France", 4.7),
    ("Tokyo", "Japan", 4.8),
    ("New York", "USA", 4.5),
    ("Rome", "Italy", 4.6),
    ("Sydney", "Australia", 4.4)
)

# 1st destination
print("First Destination:", travel_destinations[0][0], "-", travel_destinations[0][1])

# Last 3 destinations
print("Last 3 destinations:", travel_destinations[-3:])

# Total count
print("Total destinations:", len(travel_destinations))

# Highest & lowest rated
highest = max(travel_destinations, key=lambda x: x[2])
lowest = min(travel_destinations, key=lambda x: x[2])
print("Highest rated:", highest)
print("Lowest rated:", lowest)

First Destination: Paris - France
Last 3 destinations: (('New York', 'USA', 4.5), ('Rome', 'Italy', 4.6), ('Sydney', 'Australia', 4.4))
Total destinations: 5
Highest rated: ('Tokyo', 'Japan', 4.8)
Lowest rated: ('Sydney', 'Australia', 4.4)