In [1]:
                                        # ==========================================================
                                        # üêç The Legend of Python - Day 8 Solutions
                                        # Sets
                                        # ==========================================================

In [2]:
# ----------------------------------------------------------
# Q1: Convert list to set and print type
# Example Input: 1 2 3 2 2 4 5
# Example Output: <class 'set'>
# ----------------------------------------------------------
nums = list(map(int, input("Enter list of numbers: ").split()))
s = set(nums)
print(type(s))

Enter list of numbers:  1 2 3 2 2 4 5

<class 'set'>

In [3]:
# ----------------------------------------------------------
# Q2: Animals set - add Zebra, remove Lion
# Example Input: Lion Elephant Fox Tiger Giraffe
# Example Output:
# Type of the original set: <class 'set'>
# Length of the original set: 5
# Type of the updated set: <class 'set'>
# Is Lion in the updated set: False
# Is Zebra in the updated set: True
# ----------------------------------------------------------
animals = set(input("Enter animals: ").split())
print("Type of the original set:", type(animals))
print("Length of the original set:", len(animals))
animals.discard("Lion")
animals.add("Zebra")
print("Type of the updated set:", type(animals))
print("Is Lion in the updated set:", "Lion" in animals)
print("Is Zebra in the updated set:", "Zebra" in animals)

Enter animals:  Lion Elephant Fox Tiger Giraffe

Type of the original set: <class 'set'>
Length of the original set: 5
Type of the updated set: <class 'set'>
Is Lion in the updated set: False
Is Zebra in the updated set: True

In [4]:
# ----------------------------------------------------------
# Q3: Union and Intersection of 2 words
# Example Input:
# Hello
# Class
# Example Output:
# {'H','e','l','o','C','a','s'}
# {'l'}
# ----------------------------------------------------------
w1 = set(input("Enter first word: "))
w2 = set(input("Enter second word: "))
print(w1.union(w2))
print(w1.intersection(w2))

Enter first word:  Hello
Enter second word:  Class

{'o', 'C', 'l', 's', 'H', 'e', 'a'}
{'l'}

In [5]:
# ----------------------------------------------------------
# Q4: Students who played both games
# Example Input:
# 1 2 3 4 5 6 7 8 9 10 11 12
# 1 2 3 6 7 12 13 14 15 16 17 18 19 20 21
# Output: [1,2,3,6,7,12]
# ----------------------------------------------------------
cricket = set(map(int, input("Enter cricket students: ").split()))
football = set(map(int, input("Enter football students: ").split()))
print(sorted(list(cricket.intersection(football))))

Enter cricket students:  1 2 3 4 5 6 7 8 9 10 11 12
Enter football students:  1 2 3 6 7 12 13 14 15 16 17 18 19 20 21

[1, 2, 3, 6, 7, 12]

In [6]:
# ----------------------------------------------------------
# Q5: Books - union, intersection, difference, add/remove
# Example:
# fiction = ("Harry Potter","The Hobbit","1984")
# non_fiction = ("Sapiens","Educated","1984")
# ----------------------------------------------------------
fiction = ("Harry Potter", "The Hobbit", "1984")
non_fiction = ("Sapiens", "Educated", "1984")

f_set = set(fiction)
nf_set = set(non_fiction)

# Union
print("All unique books:", f_set.union(nf_set))

# Intersection
print("Common books:", f_set.intersection(nf_set))

# Difference
print("Exclusive fiction:", f_set.difference(nf_set))

# Add new book
f_set.add("Game of Thrones")

# Remove a book
nf_set.discard("Sapiens")

# Check membership
print("Is 'Harry Potter' in fiction set?", "Harry Potter" in f_set)

All unique books: {'The Hobbit', 'Harry Potter', 'Sapiens', 'Educated', '1984'}
Common books: {'1984'}
Exclusive fiction: {'The Hobbit', 'Harry Potter'}
Is 'Harry Potter' in fiction set? True