In [1]:
                                        # ==========================================================
                                        # üêç The Legend of Python - Day 2 Solutions
                                        # Conditional Statements, Loops & Patterns
                                        # ==========================================================

In [2]:
# ----------------------------------------------------------
# Q1: Display formula for selected shape
# Input: First letter (S, R, T, C)
# Output: Corresponding area formula
# Example Input: S
# Example Output: side^2
# ----------------------------------------------------------
shape = input("Enter shape letter (S/R/T/C): ")
if shape == "S":
    print("side^2")
elif shape == "R":
    print("lengthXbreadth")
elif shape == "T":
    print("0.5XbaseXheight")
elif shape == "C":
    print("3.14Xradius^2")
else:
    print("Enter valid alphabet")

Enter shape letter (S/R/T/C):  S

side^2

In [3]:
# ----------------------------------------------------------
# Q2: Suggest holiday destination based on month
# Example Input: 2
# Example Output: Shimla Manali Ooty
# ----------------------------------------------------------
month = int(input("Enter month number (1-12): "))
if 2 <= month <= 5:
    print("Shimla Manali Ooty")
elif 6 <= month <= 9:
    print("Lonavala Goa Kodaikanal")
elif month == 1 or month == 10 or month == 11 or month == 12:
    print("Munnar Kullu Manali")
else:
    print("Enter valid number")

Enter month number (1-12):  2

Shimla Manali Ooty

In [4]:
# ----------------------------------------------------------
# Q3: Income Tax calculation (simple slab example)
# Example Input: 600000
# Example Output: 22500
# ----------------------------------------------------------
income = int(input("Enter annual salary: "))
tax = 0
if income <= 250000:
    tax = 0
elif income <= 500000:
    tax = (income - 250000) * 0.05
elif income <= 1000000:
    tax = (250000 * 0.05) + (income - 500000) * 0.2
else:
    tax = (250000 * 0.05) + (500000 * 0.2) + (income - 1000000) * 0.3
print(int(tax))

Enter annual salary:  600000

32500

In [5]:
# ----------------------------------------------------------
# Q4: Print leap years between given range
# Example Input:
# 2004
# 2030
# Example Output:
# 2004 2008 2012 2016 2020 2024 2028
# ----------------------------------------------------------
start = int(input("Enter start year: "))
end = int(input("Enter end year: "))
for year in range(start, end + 1):
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
        print(year)

Enter start year:  2004
Enter end year:  2030

2004
2008
2012
2016
2020
2024
2028

In [6]:
# ----------------------------------------------------------
# Q5: Continuous calculator until "Stop"
# Example Input:
# A
# 5
# 3
# Stop
# Output: 8
# ----------------------------------------------------------
while True:
    op = input("Enter operation (A/S/M/D) or Stop to quit: ")
    if op == "Stop":
        break
    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))
    if op == "A":
        print(num1 + num2)
    elif op == "S":
        print(num1 - num2)
    elif op == "M":
        print(num1 * num2)
    elif op == "D":
        print(num1 / num2)

Enter operation (A/S/M/D) or Stop to quit:  A
Enter first number:  5
Enter second number:  3

8

Enter operation (A/S/M/D) or Stop to quit:  Stop

In [7]:
# ----------------------------------------------------------
# Q6: Pattern (triangle up & down)
# Example Input:
# 5
# $
# Output:
# $
# $$
# $$$
# $$$$
# $$$$$
# $$$$
# $$$
# $$
# $
# ----------------------------------------------------------
n = int(input("Enter number: "))
symbol = input("Enter symbol: ")
for i in range(1, n + 1):
    print(symbol * i)
for i in range(n - 1, 0, -1):
    print(symbol * i)

Enter number:  5
Enter symbol:  $

$
$$
$$$
$$$$
$$$$$
$$$$
$$$
$$
$

In [8]:
# ----------------------------------------------------------
# Q7: Diamond-like pattern
# Example Input:
# 5
# #
# Output:
#     #
#    ###
#   #####
#  #######
# #########
#  #######
#   #####
#    ###
#     #
# ----------------------------------------------------------
n = int(input("Enter number: "))
symbol = input("Enter symbol: ")
for i in range(n):
    print(" " * (n - i - 1) + symbol * (2 * i + 1))
for i in range(n - 2, -1, -1):
    print(" " * (n - i - 1) + symbol * (2 * i + 1))

Enter number:  5
Enter symbol:  #

    #
   ###
  #####
 #######
#########
 #######
  #####
   ###
    #

In [9]:
# ----------------------------------------------------------
# Q8: Student marks, percentage, and grade
# Example Input:
# 2
# Ramesh
# 78 85 90 88 92
# Suresh
# 45 55 60 58 62
# ----------------------------------------------------------
num_students = int(input("Enter number of students: "))
for _ in range(num_students):
    name = input("Enter student name: ")
    marks = list(map(int, input("Enter marks in 5 subjects: ").split()))
    total = sum(marks)
    percentage = total / 5
    if percentage >= 90:
        grade = "A"
    elif percentage >= 80:
        grade = "B"
    elif percentage >= 70:
        grade = "C"
    elif percentage >= 60:
        grade = "D"
    else:
        grade = "F"
    print("Name:", name)
    print("Total:", total)
    print("Percentage:", round(percentage, 2))
    print("Grade:", grade)

Enter number of students:  2
Enter student name:  Ramesh
Enter marks in 5 subjects:  78 85 90 88 92

Name: Ramesh
Total: 433
Percentage: 86.6
Grade: B

Enter student name:  Suresh
Enter marks in 5 subjects:  45 55 60 58 62

Name: Suresh
Total: 280
Percentage: 56.0
Grade: F